@import "../../base/utilities";

@mixin header-underline-text (){
    h4 {
        text-transform: uppercase;
        color: $headline-text;
        letter-spacing: 3px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
      }
      .line-under-middle {
        @extend .middle-under-line;
      }
      p {
        color: $subheadline-text;
        font-weight: 400;
      }
}
