$nav-bg-color: #e1e1e1;
$logo-color: #ea4d37;
$headline-text: #353b46;
$subheadline-text: #99989c;
$uderline-color: #868686;
$btn-text-color: #f3f3f3;
$border-color: #e9e9e9;
$step-line: #dddddd; 
$background-color: #ececec;
$icon-background: #e6e6e6;
$white-color: #fff;