.portfolio {
  padding-top: 4.5rem;
  background-color: $btn-text-color;
  @include header-underline-text();

  .list-wrapper {
    .list {
      margin-top: 10px;
      padding-bottom: 1rem;
      .list-item {
        list-style: none;
        padding: 5px 20px;
        margin: 0 10px;
        cursor: pointer;
        font-size: 1.1rem;
        color: #505050;
        font-weight: 600;
      }
      .list-item.active {
        position: relative;
      }
      .list-item.active:after {
        content: "";
        position: absolute;
        width: 25%;
        display: block;
        height: 2px;
        background-color: $uderline-color;
        margin-top: 10px;
      }
      span {
        margin-top: 6px;
        color: #505050;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
  @media (max-width: 768px) {
    .list-wrapper {
      .list {
        padding: 5px 10px;
        font-size: 0.8rem;
      }
    }
  }
  @media (max-width: 600px) {
    .list-wrapper {
      .list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .item {
      position: relative;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .on-hover {
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        opacity: 0;
        background-color: $logo-color;
        color: $white-color;
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
          border: none;
        }

        .text-wrapper {
          position: absolute;
          bottom: 15%;
          left: 10%;

          h3 {
            text-transform: uppercase;
            font-size: 1.3rem;
            letter-spacing: 4px;
            font-weight: 600;
            margin-bottom: 0px;
          }

          p {
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 1px;
            color: $white-color;
          }
          .line {
            border-bottom: 2px solid #d09b99;
            width: 2rem;
          }
          @media (max-width: 768px) {
            h3 {
              font-size: 0.7rem;
            }
            p {
              font-size: 0.4rem;
            }
            .line {
              border-bottom: 1px solid #fff;
              width: 1.5rem;
            }
          }
        }
      }
    }
  }
}
