.title-section {
  position: relative;
  background: $nav-bg-color;
  height: 37.2rem;

  .title-wrap {
    height: 30rem;
    text-transform: uppercase;

    h1 {
      letter-spacing: 2px;
      color: $headline-text;
    }

    p {
      letter-spacing: 5px;
      color: $subheadline-text;
    }
  }

  a {
    text-decoration: none;
  }

  .headphones,
  .sunglasses,
  .pencil1,
  .pencil2,
  .cork,
  .glass,
  .pen-holder,
  .mouse {
    position: absolute;
  }

  .headphones {
    top: 1rem;
    left: 0;
  }
  .sunglasses {
    top: 20rem;
    left: 27rem;
  }
  .pencil1 {
    top: 32rem;
    left: 12rem;
  }
  .pencil2 {
    top: 30rem;
    left: 10rem;
  }
  .cork {
    top: 7.8rem;
    right: 7.8rem;
  }
  .glass {
    top: 6.8rem;
    right: 7.2rem;
  }
  .pen-holder {
    top: 18rem;
    right: 5rem;
  }
  .mouse {
    top: 25rem;
    right: 18rem;
  }
  .icon-scroll {
    text-align: center;
  }
  .scroll-text {
    text-align: center;
    text-transform: uppercase;
    color: $logo-color;
    font-size: 12px;
    padding-top: 7px;
    font-weight: 600;
    cursor: pointer;
  }

  @media (max-width: 992px) {
    .headphones {
      top: 16rem;
      left: -1rem;
    }
    .cork {
      top: 5rem;
      right: 7.8rem;
    }
    .glass {
      top: 5rem;
      right: 7.2rem;
    }
    .mouse {
      top: 27rem;
      right: 14rem;
    }
    .sunglasses{
      top: 5rem;
      left: 5rem;
    }
  }
  @media (max-width: 768px) {
    .pen-holder {
      right: 11rem;
    }
    .headphones,
    .mouse,
    .glass,
    .cork,
    .sunglasses,
    .pencil1,
    .pencil2 {
      display: none;
    }
  }
}
