.steps {
  position: relative;
  padding: 5rem 0;
  background-color: $btn-text-color;

  @include repetedText();

  .icon-image {
   position: relative;
  }
  .title {
    text-transform: uppercase;
    color: $headline-text;
    font-weight: 600;
  }
  .text {
    width: 80%;
  }
  .line-trough {
    position: absolute;
    border-bottom: 2px solid $step-line;
    max-width: 50%;
    top: 57%;
    left: 25%;

    @media(max-width: 768px){
        display: none;
    }
  }

 @media(max-width: 768px){
    .wrapper{
        margin-bottom: 2rem;
    }
 }
}
