.steps {
  position: relative;
  padding: 5rem 0;
  background-color: $btn-text-color;

  @include repetedText();

  .outer{
    position:relative;
    left: 10rem;
    top: 0.2rem;
    display: grid;
    place-items: center;
    background-color: white;
    height: 6.2rem;
    width: 6.2rem;
    border: 1px solid #d1cece;
    border-radius: 50%;
    @media(max-width: 768px){
      left: 13rem;
    }
  }
  .inner{
    display:grid;
    place-items: center;
    background-color: $icon-background;
    height:5rem;
    width:5rem;
    border-radius: 50%;
  }
  i{
    color: $logo-color;
  }
  
  .icon-image {
   position: relative;
  }
  .title {
    text-transform: uppercase;
    color: $headline-text;
    font-weight: 600;
  }
  .text {
    width: 80%;
  }
  .line-trough {
    position: absolute;
    border-bottom: 2px solid $step-line;
    max-width: 50%;
    top: 57%;
    left: 25%;

    @media(max-width: 768px){
        display: none;
    }
    @media(min-width: 768px) and (max-width: 992px){
      left: 40%;
    }
  }

 @media(max-width: 768px){
    .wrapper{
        margin-bottom: 2rem;
    }
 }
}
